* {
    box-sizing: border-box;
}

html {
    width: 300%;
    height: 98%;
}

body {
    width: 100%;
    height: 100%;
}


.content {
    height: 100%;
    
}

.frame {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    font-size: 5rem;
}

.visibleFrame100 {
    visibility: visible;
}
